<%- include("partials/header.ejs") %>
    <body>
        <main>
            <h1 class="my-3">Cool Images from Pixabay</h1>
            <form action="/search">
                <input class="search-input" type="text" placeholder="Type keyword" name="keyword"/>
                <button class="search-button brn btn-primary">Search</button>
                <br><a class="keyword"> Keyword: <%= keyword %></a>
                <br><a class="keyword-count"> Keyword Count: <%= keywordCount %></a>
                <br><a href="/getKeywords">See Keyword Counts</a>
            </form>
            <hr>
            <% imageUrlArray.forEach(function(imageUrl) { %>
                <img class="image" src='<%= imageUrl %>' width="200" height="200"/>
            <% });%> 
        </main>
<%- include("partials/footer.ejs") %>
    </body>
</html>